page-home {
    .bg-pendiente{
        background: lightcyan
    }
    
    .bg-terminados{
        background: lightblue
    }
    
}

#terminado{
    text-decoration: line-through;
    color: #908F8D  
}  
#inputid{
    background-color:#FCF3CF   
}

ion-card-header{
    background: lightblue
        }